trigger:
  branches:
    include:
      - main

variables:
  imageName: 'calculatorapp'
  acrLoginServer: 'greensacr.azurecr.io'

stages:
- stage: Build
  displayName: Build and Push Image
  jobs:
  - job: Build
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: Docker@2
      displayName: Build & Push Docker Image
      inputs:
        containerRegistry: 'ACRServiceConnection'
        repository: '$(imageName)'
        command: 'buildAndPush'
        Dockerfile: '**/Dockerfile'
        tags: |
          latest
          $(Build.BuildId)

- stage: Deploy
  displayName: Deploy to Azure App Service
  dependsOn: Build
  jobs:
  - job: Deploy
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: AzureWebAppContainer@1
      displayName: Deploy Container
      inputs:
        azureSubscription: 'AzureServiceConnection'
        appName: 'calculatorapp-web'
        containers: |
          $(acrLoginServer)/$(imageName):latest
